*.bin binary
*.bin linguist-vendored
*.fs linguist-language=Forth
*.fsb linguist-language=Forth
*.pbm binary
*.pbm linguist-vendored
*.scr binary
*.scr linguist-vendored
*.sna binary
*.sna linguist-vendored
*.szx binary
*.szx linguist-vendored
*.tap binary
*.tap linguist-vendored
*.z80 binary
*.z80 linguist-vendored
